# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
testing/.cache/

# C extensions
*.so

# PyVenv
.python-version
bin/
lib64
lib/
pyvenv.cfg
pip-selfcheck.json
venv/

# Distribution / packaging
.Python
env/
share/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#idea folder
.idea/

#data dump expanded folder

data/dump

# ply
parsetab.py
ieml/parsing/parser.out
*.iml
/config.py
