flask
flask_socketio
flask_cors
flask_compress
connexion
progressbar2
numpy
bcrypt
pyjwt
pymongo
bidict
ply
tweepy
pika
eventlet
gevent-websocket
beautifulsoup4
lxml
scipy
pillow
pytz
django
-e git+https://github.com/MongoEngine/django-mongoengine#egg=django-mongoengine
djangorestframework
django-rest-framework-mongoengine
blinker
drf-nested-routers
pycountry
boto3