{% extends "collections_/layout.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "collections_/style.css" %}" type="text/css" />
{% endblock %}

{% block body %}
<h1>Collections</h1>

<div id="messages">Loading...</div>

<div id="sidebar">
    <input type="button" id="add-collection-button" value="Add" />

    <div id="create-collection">
        <form method="POST" action="">
            <label>Title:</label>
            <br/>
            <input type="text" name="title" />
            <div class="field-errors"></div>

            <label>Authors (comma-separated):</label>
            <br/>
            <input type="text" name="authors" placeholder="Name, Last First, ..." />
            <div class="field-errors"></div>

            <input type="submit" value="Create" />
        </form>
    </div>

    <div id="collections">
        <ul id="collection-list"></ul>
    </div>
</div>

<div id="main">
    <div id="collection" data-id="">
        <form id="edit-collection-form" method="POST" action="">
            <label>Title:</label>
            <input type="text" name="title" />
            <div class="field-errors"></div>

            <label>Authors:</label>
            <input type="text" name="authors" placeholder="name, Last First, ..." />
            <div class="field-errors"></div>

            <input type="submit" value="Update" />
        </form>

        <div id="collection-created-on">Created on: <span></span></div>
        <div id="collection-updated-on">Updated on: <span></span></div>

        <h3>Sources</h3>

        <input type="button" id="add-source-button" value="Add" />
        
        <div id="add-source">
            <h4>Scoopit</h4>

            <form id="add-scoopit-url-source-form" method="POST" action="">
                <label>Collection url:</label>
                <input type="url" name="url" />

                <input type="submit" value="Add" />
            </form>

            <p>or</p>
            
            <form id="add-scoopit-user-source-form" method="POST" action="">
                <label>User:</label>
                <input type="text" name="user" />

                <input type="submit" value="Add" />
            </form>
        </div>

        <ul id="collection-sources"></ul>

        <h3>Documents</h3>

        <input type="button" id="collect-document-button" value="Collect" />

        <div id="collect-document">
            <form id="collect-document-form" method="POST" action="">
                <table>
                    <tr>
                        <td>
                            <p>An existing document:</p>

                            <select name="documents"></select>
                            <div class="field-errors"></div>

                            <p>Or a new one:</p>
                            
                            <label>Title:</label>
                            <input type="text" name="title" />
                            <div class="field-errors"></div>

                            <label>Authors (comma-separated):</label>
                            <input type="text" name="authors" placeholder="Name, Last First, ..." />
                            <div class="field-errors"></div>

                            <label>Created on:</label>
                            <input type="date" name="created_on" placeholder="YYYY-MM-DD" />
                            <div class="field-errors"></div>

                            <label>URL:</label>
                            <input type="url" name="url" />
                            <div class="field-errors"></div>
                        </td>
                        <td>
                            <label>Collected on:</label>
                            <input type="date" name="collected_on" placeholder="YYYY-MM-DD" />
                            <div class="field-errors"></div>

                            <label>USL:</label>
                            <input type="text" name="usl" />
                            <div class="field-errors"></div>

                            <label>Tags (comma-separated):</label>
                            <input type="text" name="tags" placeholder="tag0, tag1, ..." />
                            <div class="field-errors"></div>

                            <label>Image:</label>
                            <input type="url" name="image" />
                            <div class="field-errors"></div>

                            <label>URL:</label>
                            <input type="url" name="url_collected" />
                            <div class="field-errors"></div>

                            <label>Description:</label>
                            <textarea name="description"></textarea>
                            <div class="field-errors"></div>

                            <input type="submit" value="Collect" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <ul id="collection-documents"></ul>

        <div id="document" data-id="">
            <form id="edit-document-form" method="POST" action="">
                <label>Collected on:</label>
                <input type="date" name="collected_on" />
                <div class="field-errors"></div>

                <label>USL:</label>
                <input type="text" name="usl" />
                <div class="field-errors"></div>

                <label>Tags (comma-separated):</label>
                <input type="text" name="tags" placeholder="tag0, tag1, ..." />
                <div class="field-errors"></div>

                <label>Image:</label>
                <input type="url" name="image" />
                <div class="field-errors"></div>

                <label>URL:</label>
                <input type="url" name="url_collected" />
                <div class="field-errors"></div>

                <label>Description:</label>
                <textarea name="description"></textarea>
                <div class="field-errors"></div>

                <input type="submit" value="Update" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static "collections_/api.js" %}"></script>
    <script src="{% static "collections_/ui.js" %}"></script>
{% endblock %}
