h1 {
    color: blue;
}

#sidebar, #main {
    display: none;
    vertical-align: top;
}

#sidebar {
    border: 1px solid #000;
    padding: 10px;
}

#collection, #document {
    display: none;
}

#create-collection, #collect-document {
    display: none;
}

.field-errors {
    margin: 5px 0;
    color: red;
}

a.hide {
    color: red;
}

a.show{
    color: green;
}

#collect-document td {
    border: 1px solid #000;
}
