h1 {
    color: blue;
}

#sidebar, #main {
    display: none;
    vertical-align: top;
}

#sidebar {
    border: 1px solid #000;
    padding: 10px;
}

#collections ul li {
    cursor: pointer;
}

#collection {
    display: none;
}

#create-collection {
    display: none;
}

#create-document-form {
    display: none;
}

.field-errors {
    margin: 5px 0;
    color: red;
}
