{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<h1>Collections</h1>

<div id="messages">Loading...</div>

<div id="main">
    <div id="create-collection">
        <h2>Create a collection</h2>

        <form method="POST" action="">
            <label>Title:</label>
            <input type="text" name="title" />
            <br/>
            <label>Authors (comma-separated):</label>
            <input type="text" name="authors" />
            <br/>
            <input type="submit" value="Create" />
        </form>
    </div>

    <div id="collections">
        <h2>Collections</h2>

        <ul></ul>
    </div>

    <div id="collection" data-id="">
        <form id="edit-collection-form" method="POST" action="">
            <h2><input type="text" name="title" /></h2>
            <h3><input type="text" name="authors" /></h3>
            <input type="submit" value="Update" />
        </form>

        <div id="collection-created-on">Created on: <span></span></div>
        <div id="collection-updated-on">Updated on: <span></span></div>

        <form id="create-document-form" method="POST" action="">
            <label>Title:</label>
            <input type="text" name="title" />
            <br/>
            <label>Source:</label>
            <input type="text" name="source" />
            <br/>
            <label>Authors (comma-separated):</label>
            <input type="text" name="authors" />
            <br/>
            <label>Created on:</label>
            <input type="date" name="created_on" />
            <br/>
            <label>URL:</label>
            <input type="url" name="url" />
            <br/>
            <!--
            <label>USL:</label>
            <input type="text" name="usl" />
            <br/>
            -->
            <label>Description:</label>
            <textarea name="description"></textarea>
            <br/>
            <label>Tags (comma-separated):</label>
            <input type="text" name="tags" />
            <br/>
            <label>Image:</label>
            <input type="url" name="image" />
            <br/>
            <input type="submit" value="Create" />
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='collections.js') }}"></script>
{% endblock %}
